@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Anthema</h1>
    <p class="lead">("Anthema is an applcation...")</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">"ReadMe: &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>"So, what's it do?"</h2>
        <p>
            ("Anthema gives any user simple tools for organizing, tracking, and achieving... anything."
        </p>
        <p><a class="btn btn-default" href="[[[https://go.microsoft.com/fwlink/?LinkId=301865]]]">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>"What's the point?"</h2>
        <p>("The word "life" should be longer, and harder to spell.  For most of us, there's nothing simple about pursuing the life we want.  For most of us, there come times when it seems like a losing battle.  Not enough hours in the day!  It's something we must remain conscious of every day, and sometimes it feels like it gets no easier!  Some of us have significant trouble visualizing, and achieving, the life we want.")  </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>"Who is this for?"</h2>
        <p>("If the previous paragraph resonates with you at all--then this app is for you!")</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Source Code: &raquo;</a></p>
    </div>
</div>